* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav {
    width: 15%;
    height: 100%;
    background: #393f41;
    padding-top: 20px;
    position: absolute;
    z-index: 3;
}

ul {
    width: 100%;
    margin-top: 200px;
}

li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    transition: ease 0.3s;
}

li:hover {
    background: #525b5e;
}

li button {
    width: 60%;
    display: flex;
    gap: 10px;
    padding: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.1rem;
}

.form {
    width: 50%;
    height: 70%;
    border: solid 2px #a3aaac;
    border-radius: 10px;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 5px 10px #393f41;
}

.containerFedbackSucesso {
    width: 250px;
    height: 250px;
    box-shadow: 1px 5px 10px #393f41;
        border: solid 2px #a3aaac;

    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    position: absolute;
    right: 60px;
    top: 118px;
    display: flex;
}

.sucesso p {
    margin-bottom: 10px;
}

.sucesso p span {
    font-weight: 600;
   
}

.mensagem-sucesso {
    color: #1b8b05;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.campo {
    width: 60%;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
select {
    background: #f4f6f7;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 5px #393f41;
}

.botoes {
    width: 60%;
    display: flex;
    gap: 20px;
}

.botoes button {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 1px 3px 5px #393f41;
}

.btn-add {
    background: #2993f5;
    color: #fff;
}

.btn-cancelar {
    background: #e2e8ee;
}

/* *******************modal escolha filtro */
/* 
.overlay{
    width: calc(100vw - 250px);
    height: 100vh;
    position: absolute;
    right: 0;
    background: #0000005e;
    z-index: 1;
    display: none;
} */

.modal-filtrar {
    width: 200px;
    height: 280px;
    box-shadow: 1px 5px 10px #393f41;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    position: absolute;
    top: 250px;
    left: -100px;
    z-index: 2;

    transition: ease 0.5s;
}

.show-modal {
    left: 250px;
}

.input-modal {
    display: flex;
    flex-direction: column;
}

.title-btn-fechar {
    display: flex;
    justify-content: space-between;
}

/* botões de fechar modais */
.fechar {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
}

.fechar:hover {
    background: #ff0101;
    color: #fff;
}
/* ************************ */

.buscar {
    width: 100%;
    padding: 10px;
    background: #2993f5;
    color: #fff;
    font-size: 1rem;
    box-shadow: 1px 3px 5px #393f41;
    border: none;
    border-radius: 10px;
}

/* ******************************* modal relatorio */

.relatorio {
    width: 60%;
    min-height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    background: #ffff;
    border: solid 2px #a3aaac;
    box-shadow: 1px 5px 10px #393f41;

    left: -2000px;
    top: 90px;
    position: absolute;
    z-index: 1;
    transition: ease 1s;
}

.show-relatorio {
    left: 25%;
}

.title-saldo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  
}

.saldo-div {
    width: 200px;
    height: 60px;
    background: #dae4e7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
}

h1 {
    margin-bottom: 20px;
}



.vendas {
    width: 80%;
}

.venda {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.venda p {
    width: 150px;
}

.vendas .forma-pag {
    width: 80px;
}

.active {
    background: #525b5e;
}
